body {
  background-color: #D6F4F4;
}

.custom-image {
  width: 200px;
  height: 150px;
  transition: transform 0.3s ease;
  margin: 15px;
}

.custom-image.above {
  margin-bottom: 30px;

}


.custom-image.center {
  margin-top: 50px;
  margin-bottom: 50px;
}


.custom-image.below {
  margin-top: 30px;
}


.custom-image.rotate-clockwise {
  transform: rotate(13deg);
}

.custom-image.rotate-clock {
  transform: rotate(-13deg)
}


.info-card1,
.info-card2,
.info-card3 {
  margin-bottom: 20px;
  margin-top: 20px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 142, 0.955);
  font-weight: bold;
  font-style: italic;
}

.presentazione-card {
  margin-bottom: 20px;
  margin-top: -30px;
  border: none;
  background-color: transparent;
  background-image: url(/src/assets/img/chisiamo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(0, 10, 192, 0.955);
  font-weight: bold;
  font-style: italic;
}

h4,
h3,
h2,
p,
li,
.newsletter {
  color: rgba(0, 10, 192, 0.955);
  font-weight: bold;
  font-style: italic;
}

.alert-custom {
  color: rgba(0, 10, 192, 0.955);
  font-weight: bold;
  font-style: italic;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}


.newsletter-input {
  color: rgba(0, 10, 192, 0.955);
  font-weight: bold;
  font-style: italic;
  background-color: #D6F4F4;
  border-color: rgba(0, 10, 192, 0.955);
}


.newsletter-input::placeholder,
hr {
  color: rgba(0, 10, 192, 0.955);
}


.newsletter-input:focus {
  background-color: #D6F4F4;
  border: none;
  color: rgba(0, 10, 192, 0.955);
}

.py-5 {
  margin-top: 20px;
}

.info-card2.text-center .card-body {
  text-align: center;
}

.info-card1 {
  width: 500px;
  background-image: url(/src/assets/img/Assistenza.png);
  background-size: 250px;
  background-position: center;
  background-repeat: no-repeat;
}

.info-card2 {
  width: 500px;
  margin-left: -80px;
  background-image: url(/src/assets/img/socializzazione.png);
  background-size: 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.info-card3 {
  width: 500px;
  margin-left: -80px;
  height: 305px;
  text-align: right;
  background-image: url(/src/assets/img/cura.png);
  background-size: 285px;
  background-position: center;
  background-repeat: no-repeat;
}

.notizie-container {
  width: 300px;
  height: 400px;

  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px;
  margin-left: 40px;
  background-image: url(/src/assets/img/news.png);
  background-size: 585px;
  background-position: center;
  background-repeat: no-repeat;
}

.notizia-card {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notizia-card h3 {
  margin-bottom: 5px;
}

.notizia-card p {
  margin-bottom: 0;
}

.containerequipe {
  display: flex;
  margin-left: 30px;
}

.notizie-container {
  flex: 1;
  margin-right: 10px;
}

.team-section {
  flex: 0.8;
  margin-top: 65px;
  background-image: url(/src/assets/img/equipe.png);
  background-size: 385px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: -70px;
}

.notizie-scrollable {
  height: 400px;
  overflow-y: auto;
}

.notizie-scrollable::-webkit-scrollbar {
  width: 8px;
}

.notizie-scrollable::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 4px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 4px;
}

.custom-button {
  color: #D6F4F4 !important;
  background-color: rgba(0, 10, 192, 0.955);
  font-weight: bold;
  font-style: italic;
  border-color:  rgba(0, 10, 192, 0.955);
}


.custom-button:hover {
  color: #D6F4F4 !important;
  background-color: rgba(0, 10, 192, 0.955);
}


.custom-button:active {
  color: #D6F4F4 !important;
  background-color: rgba(0, 10, 192, 0.955);
}




@media screen and (max-width: 767px) {

  .above,
  .center,
  .below {
    text-align: center;
    margin-bottom: 20px;
  }

  .custom-image {
    width: 100%;

    height: 80px;
    display: block;
    margin: 0 auto;
  }
}


@media screen and (max-width: 767px) {

  .info-card1,
  .info-card2,
  .info-card3 {
    margin-bottom: 10px;
    width: 100%;
  }

  .info-card2,
  .info-card3 {
    margin-left: auto;
  }


}


@media screen and (max-width: 767px) {
  .presentazione-card {
    margin-top: 10px;
  }

  .notizie-container {
    margin-left: -20px;
    background-size: 400px;
  }

  .containerequipe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .team-section {
    margin-top: 30px;
  }
}